body {
    background-image: url('./Assets/stars2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
}
p{
    text-align: center;
    font-family: monospace;
    color: white;
}
.top-box{
    margin-top: 2%;
}
#form-input label, #form-input{
    font-family: monospace;
    color: white;
}
#output{
    text-align: center;
    margin-top: 5%;
    font-family: monospace;
}
.container {
    position: relative; 
    z-index: 1; 
}
#img-left, #img-right{
    width: 300px;
}
#img-center, #img-starwars img{
    width: 500px;
}
.fit-content{
    width: fit-content;
}
.fit-contentright{
    width: fit-content;
    display: flex;
    align-items: end;
}
#middle-box{
    padding-top: 10%;
}
.row{
    display: flex;
    justify-content: center;
}
textarea{
    overflow: hidden;
}